@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #212121;
}
.animation-timeline-view {
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }